@using SheetManager.Web.Controllers
@model SheetManager.Web.Models.Book

@{
	ViewData["Title"] = nameof(BooksController.Details);
}

<h2>@Model.Name</h2>

<div>
	<h4>@Model.Path</h4>
	<hr />
	@if (Model.Songs.Any()) {
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Page #</th>
			</tr>
			@foreach (var song in Model.Songs.OrderBy(s => s.PageNumber)) {
				<tr>
					<td>
						@Html.DisplayFor(model => song.Name)
					</td>
					<td>
						@Html.DisplayFor(model => song.PageNumber)
					</td>
				</tr>
			}
		</table>
	} else {
		@Html.Raw("No songs found.")
	}
</div>
<div>
	<a asp-action="@nameof(BooksController.Edit)" asp-route-id="@Model.ID">Edit</a> |
	<a asp-action="@nameof(BooksController.Index)">Back to List</a>
</div>
