@using SheetManager.Web.Controllers
@model IEnumerable<SheetManager.Web.Models.Book>

@{
    ViewData["Title"] = nameof(BooksController.Index);
}

<h2>@nameof(BooksController.Index)</h2>

<p>
    <a asp-action="@nameof(BooksController.Create)">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
	        <th>
		        <a asp-action="@nameof(BooksController.Index)" asp-route-sortOrder="@ViewData["NameSortParam"]">
			        @Html.DisplayNameFor(model => model.Name)
		        </a>
	        </th>
	        <th>
		        <a asp-action="@nameof(BooksController.Index)" asp-route-sortOrder="@ViewData["GenreSortParam"]">
			        @Html.DisplayNameFor(model => model.Genre)
		        </a>
	        </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                <a asp-action="@nameof(BooksController.Edit)" asp-route-id="@item.ID">@nameof(BooksController.Edit)</a> |
                <a asp-action="@nameof(BooksController.Details)" asp-route-id="@item.ID">@nameof(BooksController.Details)</a> |
                <a asp-action="@nameof(BooksController.Delete)" asp-route-id="@item.ID">@nameof(BooksController.Delete)</a>
            </td>
        </tr>
}
    </tbody>
</table>
